################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FrontEnd/.vs/FrontEnd/v16
/Frontend/bin
/Frontend/obj
/BackEnd/bin
/BackEnd/.settings